@inherits AntDomComponentBase

<div class="@ClassString @ClassMapper.Class" style="@StyleString @Style" id="@Id" @ref="Ref" @onclick="OnClickHandler">
    <span class="fa-solid @(Type)"></span>
</div>
