@using MoqWord.Components.Components.FaIcon
@using ReactiveUI.Blazor
@inherits ReactiveLayoutComponentBase<GlobalService>

<Layout class="MainContainer">
    <Sider @bind-Collapsed=@collapsed NoTrigger OnCollapse="OnCollapse">
        <div class="titleBar">
            <img class="logo" src="MOQ.png" alt="莫欺单词" />
            @if (!collapsed)
            {
                <span class="title">莫欺单词</span>
            }
        </div>
        <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" SelectedKeys="new string[] { currentKey }">
            <MenuItem Key="" OnClick=@(()=>NavigateGo("/"))>
                <Icon Type="home" Theme="outline" Style="font-weight:bold;"/>
                <span class="nav_name">背诵单词</span>
            </MenuItem>
            <MenuItem Key="WordList" OnClick=@(()=>NavigateGo("/WordList"))>
                <Icon Type="table" Theme="outline" Style="font-weight:bold;" />
                <span class="nav_name">字典列表</span>
            </MenuItem>
            <MenuItem Key="Settings" OnClick=@(()=>NavigateGo("/Settings"))>
                <Icon Type="setting" Theme="outline" Style="font-weight:bold;" />
                <span>设置</span>
            </MenuItem>
        </Menu>
    </Sider>
    <Layout Class="site-layout">
        <div @onmousedown="WindowHelper.StartMove" @onmouseup="WindowHelper.StopMove" @onmouseleave="WindowHelper.StopMove">
            <Header Class="header site-layout-background">
                @if (collapsed)
                {
                    <FaIcon Type="fa-indent" OnClick="toggle" />
                }
                else
                {
                    <FaIcon Type="fa-outdent" OnClick="toggle" />
                }
                <Flex Class="tools" Gap="large">
                    <Flex Gap="large" Align="center" Justify="center" Style="height: 100%;margin: 0 10px;">
                        <Tooltip Title="请选择字典">
                            <span class="ToolsItem" Style="margin: 0" @onclick=@(()=>NavigateGo("/WordList"))>
                                @(ViewModel?.currentCategory?.Name ?? "未选择")
                            </span>
                        </Tooltip>
                        <Tooltip Title="切换暗色主题">
                            <FaIcon Type="fa-sun" />
                        </Tooltip>
                        <Dropdown Arrow Placement="Placement.Bottom">
                            <Overlay>
                                <Menu>
                                    <MenuItem>循环播放1次</MenuItem>
                                    <MenuItem>循环播放3次</MenuItem>
                                    <MenuItem>循环播放5次</MenuItem>
                                    <MenuItem>循环播放8次</MenuItem>
                                    <MenuItem>重复循环</MenuItem>
                                </Menu>
                            </Overlay>
                            <ChildContent>
                                <FaIcon Type="fa-repeat" />
                            </ChildContent>
                        </Dropdown>
                    </Flex>
                    <Divider Type="DirectionVHType.Vertical" Style="margin: auto 0"/>
                    <FaIcon Type="fa-sliders" OnClick="NotifyIconHelper.ShowOptionView" />
                    <FaIcon Type="fa-window-restore" OnClick="NotifyIconHelper.Show" />
                    <FaIcon Type="fa-minus" OnClick="WindowHelper.Minimize" />
                    <FaIcon Type="fa-expand" OnClick="WindowHelper.Collpase" />
                    <FaIcon Type="fa-xmark" OnClick="()=>WindowHelper.Close()" />
                </Flex>
            </Header>
        </div>
        <Content Style="padding-top: 20px;height: 100%;box-sizing: border-box;overflow: auto;">
            @Body
        </Content>
    </Layout>
</Layout>
<AntContainer />

<style>
    .MainContainer {
        height: 100% !important;
        width: 100% !important;
    }

        .MainContainer .trigger {
            font-size: 18px;
            line-height: 64px;
            padding: 0 24px;
            cursor: pointer;
            transition: color 0.3s;
            box-sizing: border-box;
        }

            .MainContainer .trigger:hover {
                color: #1890ff;
            }

        .MainContainer .titleBar {
            height: 32px;
            margin: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: white;
            gap: 10px;
        }

            .MainContainer .titleBar .logo{
                width: 32px;
                height: 32px;
            }

            .MainContainer .titleBar .title{
                font-size: 20px;
            }
        .nav_name{
            margin-left: 10px;
        }
        .MainContainer .header {
            display: flex;
            flex-direction: row;
            padding: 0 17px;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
        }

            .MainContainer .header .tools{
                margin-left: auto;
            }

            .MainContainer .header .tools .ToolsItem {
                cursor: pointer;
                transition: all .3s;
                padding: 7px;
                box-sizing: border-box;
                font-size: 18px;
                font-weight: bold;
            }

                .MainContainer .header .tools .ToolsItem:hover {
                    background: #1890ff;
                    color: white;
                }

    .site-layout .site-layout-background {
        background: #fff;
    }

</style>